



body {
    background-color:  rgb(16, 165, 215);
}

ul {
    display:flex;
    gap:150px;
    list-style: none;
}

.home-page{
    overflow:hidden;
    padding-top: 130px;
    background-color: rgb(16, 165, 215);
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    color:white;
    padding-bottom: 50px;
    max-width: 100%;
}
.header-button{
    display:flex;
    justify-content: center;
}



hr{
    border:none;
    border-top: 1px solid white;
    width:100%;
    margin: 20px 0;
}

.header{
    display:flex;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 100px;
}

.left-header{
    margin-left: 100px;
    display:flex;
    flex-direction: column;
    flex: 1 1 400px;
    font-family: 'Anton', sans-serif
}

.left-header h2 {
    font-size:45px;
}

.left-header p {
    flex-shrink: 0;
}

.right-header{
    margin-left:200px;
    flex: 1 1 400px;
}

.headimg-container{
    display:flex;
}

.headimg-container img {
    width:550px;
}

.body-container {
    font-family: "Antic Slab", serif;
    text-shadow: 0px 5px 0px rgba(0,0,0,0.10);
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    max-width:800px;
    margin: 40px auto;
    margin-bottom:240px;
}

.bodyimg-container{
    margin-top: 30px;
    display:flex;
    gap: 50px;
}

.body-cards{
    font-size:17px;
    background-color: #0B367A;
    width:242px;
    height:232px;
    border-radius: 30px;
}

.bodyimg-container img {
    padding-top: 20px;
    width:100px;
    height:100px;
    border-radius: 9999px;
}

.quote-container{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    width:100%;
    align-items: center;
    background-color: #0B367A;
    position: relative;
    padding:100px;
    gap:100px;
    background-image: 
     linear-gradient(rgba(1, 1, 1, 0.08), rgba(1, 1, 1, 0.08)),
     radial-gradient(farthest-corner at center, #666666 24%, #333333 76%);
    background-blend-mode: normal, overlay;
}

.quote-img-container{
    display:flex;
    flex-shrink: 0;
    position: absolute;
    left:10%;
    width:400px;
    height:400px;
    margin-left:100px;
}

.quote {
    font-family: "Antic Slab", serif;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:40px;
    max-width:500px;
    margin-left:400px;
    font-size: 30px;
    margin-right:100px;
}

.author{
    align-self:flex-end;
}

.about-page{
    display:flex;
    background-image: url("./images/about-persona.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 125vh;
    overflow-y: auto;
    margin-top: 50px;
}

button{
    color:black;
    border: 1px solid white;
    text-decoration: none;
    cursor:pointer;
    font-size:16px;
    padding: 15px 32px;
}

.menu-page{
    background-color:  rgb(16, 165, 215);;
    margin-top:80px;
}


.article{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    padding:2em;
    max-width:1200px;
    margin: 0 auto;
    gap: 30px;
}

.article {
    background-color: rgba(10,20,30,0.75);
    border-radius:  20px;
    border:3px solid white;
}

.cards{
    width:100%;
    height:250px;
}

.cards img {
    width: 100%;
    height:100%;
    object-fit: cover;
}


.contact-menu{
    background-image:url("./images/contact.png");
    background-size:cover;
    background-repeat: no-repeat;
    min-height:90vh;
}

.img-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10px;
}

.img-container img{
    width:50%;
    height:50%;
}